@use "./variables";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.nav-container {
  background-color: variables.$primary-color;
  padding: 10px;
  padding-right: 12%;
  padding-left: 12%;
  display: flex;
  flex-direction: row;
  gap: 35px;
  &__h1 {
    font-size: 32px;
    color: #ffffff;
    font-weight: bold;
    margin: 0;
    cursor: pointer;

    span {
      color: variables.$third-color;
    }

    &:hover {
      color: black;
    }
  }
  &__p {
    font-size: 14px;
    font-weight: bold;
    padding-top: 15px;
  }
  &__list {
    display: flex;
    position: absolute; // Rend la liste indépendante de la taille du conteneur
    //top: 100%; // Place la liste sous la barre de navigation
    right: 12%;
    
    font-family: variables.$main-typo;
    list-style-type: none;
    font-weight: 700;
    padding: 8px;
    background-color: variables.$background-color;
    cursor: pointer;
    flex-direction: column;
    li {
      &:hover {
        background-color: grey;
        color: white;
      }
    }
  }
}
